@page "/Home"

@inject Service service
@using Webshop.Shared.Models.Requests.Search

@using MatBlazor

<style>
    .center {
        text-align: center;
        width: 100%
    }

    .demo-mat-card {
        max-width: 400px;
    }

    .demo-mat-card-content {
        padding: 1rem;
    }

    .demo-mat-card-clean-margin {
        margin: 0px;
    }
</style>

<div class="center">
    <span>Nur Lagerware </span>
    <MatSlideToggle @bind-Value="@Lagerware"></MatSlideToggle>
    <MatTextField @bind-Value="@searchTerm" Label="Suche" Outlined="true"></MatTextField>
    <MatButton TrailingIcon="search" @onclick="@SearchClicked"></MatButton>
</div>


@if (ListProducts.Count > 0)
{
    <div>
        <MatTable OnRowDbClick="OnPersonDbClicked"
                  AllowSelection="true"
                  Items="@ListProducts" class="mat-elevation-z5">
            <MatTableHeader>
                <th>Name</th>
                <th>Price</th>
                <th>Horsepower</th>
            </MatTableHeader>
            <MatTableRow>
                <td>
                    @context.Datanormname1 <br />
                    @context.Datanormname2
                </td>
                <td>@context.Unit</td>
                <td>@context.Grossprice</td>
            </MatTableRow>
        </MatTable>
    </div>

    <MatDialog @bind-IsOpen="@dialogIsOpen">
        <MatDialogTitle>@DetailName</MatDialogTitle>
        <MatDialogContent>
            <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
            <div class="demo-mat-card-content">
                <MatSubtitle2 class="demo-mat-card-clean-margin">
                    <MatNumericUpDownField Label="Bestellmenge"
                                           @bind-Value=@OrderQuantity
                                           DecimalPlaces=0
                                           Minimum=1>
                    </MatNumericUpDownField>
                    <br />
                    @ProductPrice
                    <br />
                    Ges: @TotalPrice

                </MatSubtitle2>
                <MatSubtitle2 class="demo-mat-card-clean-margin">
                    by Kurt Wagner
                </MatSubtitle2>
            </div>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="@(e => { dialogIsOpen = false; })">Abbrechen</MatButton>
            <MatButton OnClick="@OkClick">In den Warenkorb</MatButton>
        </MatDialogActions>
    </MatDialog>
}


@*<style>
    </style>
    <MatCard class="demo-mat-card">
        <MatCardContent>
            <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
            <div class="demo-mat-card-content">
                <MatHeadline6 class="demo-mat-card-clean-margin">
                    Our Changing Planet
                </MatHeadline6>
                <MatSubtitle2 class="demo-mat-card-clean-margin">
                    by Kurt Wagner
                </MatSubtitle2>
            </div>

            <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                Visit ten places on our planet that are undergoing the biggest changes today.
            </MatBody2>
        </MatCardContent>
        <MatCardActions>
            <MatCardActionButtons>
                <MatButton>Read</MatButton>
                <MatButton>Bookmark</MatButton>
            </MatCardActionButtons>

            <MatCardActionIcons>
                <MatIconButton Icon="@MatIconNames.Favorite"></MatIconButton>
                <MatIconButton Icon="@MatIconNames.Dashboard"></MatIconButton>
            </MatCardActionIcons>
        </MatCardActions>
    </MatCard>*@